*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100%;
}

body{
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    /* overflow: hidden; */
}

.transition-fade {
    transition: 500s;
    opacity: 1;
}
  
html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(0) translateX(0);
}
html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateY(0) translateX(0);
}

/* Main Navigation */
/* ==================================================== */


.toggle{
    background-color: #000000;
    color: #FFF;
    height: 90px;
    width: 90px;
    position: absolute;
    z-index: 3;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}

.toggle:hover{
    background-color: #fd5f5f;
    color: #000000;
}

.menu{
    /* background-color: #FFF; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    /* border: 2px solid #ccc; */
    transition: 0.7s;
}

.menu a{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    color: #BBB;
    transition: 0.4s;
    text-decoration: none;
    background-color: #000000;
    /* width: 18px;
    height: 18px; */
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
}

.menu a:nth-child(1){
    /* top: 28px;
    left: 12px; */
    top: 32px;
    left: 12px;
}
.menu a:nth-child(2){
    /* top: 12px;
    left: 30px; */
    top: 14px;
    left: 22px;
}
.menu a:nth-child(3){
    /* top: 12px;
    left: 53px; */
    top: 7px;
    left: 41px;
}
.menu a:nth-child(4){
    /* top: 28px;
    left: 70px; */
    top: 14px;
    left: 61px;
}
.menu a:nth-child(5) {
    top: 32px;
    left: 72px;
}
/* .menu a:nth-child(6) {
    top: 35px;
    left: 73px;
} */
.menu a.active{
    background-color: #fd5f5f;
    color: #000000;
}
.menu a:hover{
    background-color: #fd5f5f;
    color: #000000;
}



/* Background images based on section */
.home-pg {
    background-image: url(../img/mars-red-bg.jpg);
    background-repeat: no-repeat;
    background-color: #FD5F60;
}
.mission-landing-pg{
    background-image: url(../img/landing-bg.jpg);
    background-repeat: no-repeat;
    background-color: #61d3a0;
}

.mission-pg{
    background-image: url(../img/mars-dull-bg.jpg);
    background-repeat: no-repeat;
    background-color: #c8cabb;
}

.rocket-pg{
    background-image: url(../img/mars-blue-bg.jpg);
    background-repeat: no-repeat;
    background-color: #69dfd1;
}


.main-content{
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.bgtext{
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    transition: all .8s;
}


.verticalcentertxt { top: 50%; transform: translateY(-50%); }
.rotatetxt{
    transform: translateX(-46%) translateY(-50%) rotate(-90deg);
    height: 18vh;
    top: 50%;
    left: 0;
    text-align: left;
}

.copy{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif; 
    margin: 0 0 14px 0;
}

.copy img{
    float: left;
    margin: 0 15px 15px 0;
    width: 160px;
}

.copy-head{  font-size: 18px; font-weight: bold; margin: 0 0 10px 0;}
.copy-tag{  font-size: 18px; font-weight: bold; margin: 0 0 10px 0;}



/* Mission Page - Overview*/
/* ======================================== */
/* .mission-landing-pg .main-navigation{
    position: absolute;
    bottom: -36px;
    left: 50%;
}

*/

.mission-overview-btn, .mission-landing-btn, .mission-objectives-btn{
    color: #FFF; text-decoration: none; letter-spacing: 0.02em; font-weight: bold;
}
.mission-overview-btn:hover, .mission-landing-btn:hover, .mission-objectives-btn:hover{
    color: #000; 
}

.mission-home, .mission-overview, .mission-landing, .mission-objectives{
    font-family: 'Montserrat', sans-serif;
}

.mission-home .mission-nav{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
    width: 600px;
    margin: 0 auto 75px auto;
    
}

.mission-home .mission-nav a img{
    width: 100px;
}
.mission-home img.rocket-atlas{
    width: 800px;
}

.mission-home .mission-nav a{ 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    width: 100px;
    margin: 0 auto;
    line-height: 10px;
}

.mission-overview{
    display: grid;
    grid-template-columns: 30% 55% 15%;
    column-gap: 20px;
    align-items: center;
}

.mission-overview .point{
    margin: 0 0 20px 0;
}

.mission-overview header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin: -5px 0 60px -18px;
    color: #FFF;
}

.mission-overview .point p:first-child{
    font-weight: bold;
}

.mission-landing{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}
.mission-landing header{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    color: #FFF;
}
.mission-objectives{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}
.mission-objectives header{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    width: 200px;
    margin: 0 auto;
    color: #FFF;
}

.mission-objectives .coltwo  img{width: 100%; margin-bottom: 15px;}
.mission-landing header img{ width: 100px!important; }
.mission-landing .colone{ text-align: left; }
.mission-landing .colthree{ text-align: right; }
.mission-landing .coltwo{ margin-top:-20px }
.mission-landing .coltwo img{ width: 100%; margin-bottom: 15px;}


.rocket-content {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.vehicle-tag{ font-size: 12px;}
.vehicle-name{ font-size: 40px; margin: 0 0 15px 0; line-height: 36px; color: #FFF;}

.rockettext a{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    background-color: #000000;
    text-decoration: none;
    margin: 0 0 0 0;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    padding: 3px 6px;
    cursor: pointer;
}

.rockettext a:hover{
    background-color: #fd5f5f;
    color: #FFF;
}

.atlasdiv{ position: relative;}

.atlasbtn{
    background-color: #fd5f5f;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(236, 35, 35, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -32px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    transition: all .2s;
    cursor: pointer;
    z-index: 5;
}

.atlasbtn:hover{  background-color: #000000; color: #FFF;}

/* .atlasdiv::before{
    content: 'Tap to know more';
    width: 90px;
    height: 90px;
    background-color: #fd5f5f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    padding: 20px 16px 25px 16px;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: -35px;
    border: 5px solid rgb(236, 35, 35, 0.5);
}
.atlasdiv:hover::before{
    background-color: #000000;
} */


/* html, body {
    overflow: hidden;
    height: 100%;
} */

/*Home page*/
.home-pg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page-rover {
    width: 90%;
    margin: 50px auto 0 auto;
}
.homepage-content {
    text-align: center;
}
.homepage-content .headcaption {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
}
.homepage-content .tagline {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin-bottom: 20px;
}
#border-bottom {
    position: absolute;
    width: 7%;
    left: 47%;
    top: 19.5%;
    height: 1px;
    background: #000;
}
.homepage-content .leadtext {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    .mission-home .mission-nav {
        width: 100%;
        margin: 0 0 30px 0;
        max-width: 375px;
    }
    .mission-home img.rocket-atlas { width: 100%; }
    .mission-overview { grid-template-columns: 100%; padding: 0 25px; display: grid; height: 600px; overflow: scroll;}
    .mission-overview header { margin: 0; color: #FFF; }
    .mission-landing { grid-template-columns: 100%; padding: 0 25px;}
    .mission-landing .coltwo{ height: 500px; overflow: scroll; }
    .mission-objectives { grid-template-columns: 100%; }
    .mission-objectives .coltwo{ height: 500px; overflow: scroll; padding: 0 10px; }
    .mission-objectives .colone { padding: 0 10px;}
    .rocket-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .atlasclose, .atlasopen {
        width: 60%;
        margin: 0 auto;
    }
    .rockettext {
        padding: 0 10px !important;
        box-sizing: border-box;
    }
    .mission-objectives .colthree {
        text-align: right;
    }
    .atlasbtn {
        width: 80px;
        height: 80px;
        margin-left: 0;
    }
    .homepage-content {
        padding: 0 10px;
        box-sizing: border-box;
    }
    #border-bottom {
        width: 20%;
        left: 41.5%;
        top: 31%;
    }

}
