*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100%;
}

body{
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    overflow: hidden;
}

.transition-fade {
    transition: 500s;
    opacity: 1;
}
  
html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(0) translateX(0);
}
html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateY(0) translateX(0);
}

/* Main Navigation */
/* ==================================================== */


.toggle{
    background-color: #000000;
    color: #FFF;
    height: 90px;
    width: 90px;
    position: absolute;
    z-index: 3;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
}

.toggle:hover{
    background-color: #fd5f5f;
    color: #000000;
}

.menu{
    /* background-color: #FFF; */
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    /* border: 2px solid #ccc; */
    transition: 0.7s;
}

.menu a{
    display: inline-block;
    position: absolute;
    font-size: 12px;
    color: #BBB;
    transition: 0.4s;
    text-decoration: none;
    background-color: #000000;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
}

.menu a:nth-child(1){
    top: 28px;
    left: 12px;
}
.menu a:nth-child(2){
    top: 12px;
    left: 30px;
}
.menu a:nth-child(3){
    top: 12px;
    left: 53px;
}
.menu a:nth-child(4){
    top: 28px;
    left: 70px;
}

.menu a.active{
    background-color: #fd5f5f;
    color: #000000;
}
.menu a:hover{
    background-color: #fd5f5f;
    color: #000000;
}



/* Background images based on section */

.mission-landing-pg{
    background-image: url(../img/landing-bg.jpg);
    background-repeat: no-repeat;
    background-color: #61d3a0;
}

.mission-pg{
    background-image: url(../img/mars-dull-bg.jpg);
    background-repeat: no-repeat;
    background-color: #c8cabb;
}

.rocket-pg{
    background-image: url(../img/mars-blue-bg.jpg);
    background-repeat: no-repeat;
    background-color: #69dfd1;
}


.main-content{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.bgtext{
    position: absolute;
    opacity: 0.2;
    z-index: -1;
    transition: all .8s;
}


.verticalcentertxt { top: 50%; transform: translateY(-50%); }
.rotatetxt{
    transform: translateX(-46%) translateY(-50%) rotate(-90deg);
    height: 18vh;
    top: 50%;
    left: 0;
    text-align: left;
}

.copy{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif; 
    margin: 0 0 14px 0;
}

.copy img{
    float: left;
    margin: 0 15px 15px 0;
    width: 160px;
}



/* Mission Page - Overview*/
/* ======================================== */
/* .mission-landing-pg .main-navigation{
    position: absolute;
    bottom: -36px;
    left: 50%;
}

*/

.mission-home, .mission-overview, .mission-landing, .mission-objectives{
    font-family: 'Montserrat', sans-serif;
}

.mission-home .mission-nav{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
    width: 600px;
    margin: 0 auto 75px auto;
    
}

.mission-home .mission-nav a img{
    width: 100px;
}
.mission-home img.rocket-atlas{
    width: 800px;
}

.mission-home .mission-nav a{ 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    width: 100px;
    margin: 0 auto;
    line-height: 10px;
}

.mission-overview{
    display: grid;
    grid-template-columns: 30% 55% 15%;
    column-gap: 20px;
    align-items: center;
}

.mission-overview .point{
    margin: 0 0 20px 0;
}

.mission-overview header{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin: 0 0 25px -18px;
}

.mission-overview .point p:first-child{
    font-weight: bold;
}

.mission-landing{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}
.mission-landing header{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    width: 200px;
    margin: 0 auto;
}
.mission-objectives{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}
.mission-objectives header{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    width: 200px;
    margin: 0 auto;
}

.mission-objectives .coltwo  img{
    width: 100%;
}
.mission-landing header img{ width: 100px!important; }
.mission-landing .colone{ text-align: left; }
.mission-landing .colthree{ text-align: right; }
.mission-landing .coltwo img{ width: 100%; }